// Variables
$website-width: 980px;
$light-color: #f4f4f4;
$dark-color: #000;
$main-color: rgb(128, 17, 117);
$secondary-color: #ffbc00;
$bg-image: url("../img/showcase.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
